<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= student.adresse %>
  </p>

  <p>
    <strong>Plz:</strong>
    <%= student.plz %>
  </p>

  <p>
    <strong>Ort:</strong>
    <%= student.ort %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>
</div>
