<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<%= link_to "New", new_student_path, class: "waves-effect waves-light btn" %>

<br>

<div id="students">
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adresse</th>
      <th>PLZ</th>
      <th>Ort</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.adresse %></td>
      <td><%= student.plz %></td>
      <td><%= student.ort %></td>
      <td><%= student.email %></td>
      <td><%= student.phone %></td>
      <td><%= link_to "Show", student, class: "waves-effect waves-light btn" %></td>
      <td><%= link_to "Edit", edit_student_path(student), class: "waves-effect waves-light btn" %></td>
      <td><%= button_to "Destroy", student, method: :delete, class: "waves-effect waves-light btn" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
